.App {
  text-align: center;
}
.container {
  text-align: center;
  font-size: 2em;
}
#value {
  font-size: 6em;
  font-weight: bold;
}
.btn {
  background: transparent;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0.9em;
  cursor: pointer;
}
.btn:hover {
  color: red;
  background: turquoise;
}
